<h1>Update team Info</h1>

<div id="ubody">
  <div class="container col-6">
    <div class="card">
      <div *ngIf="UserName.invalid || specific.invalid || number.invalid " class="alert alet-danger">

      </div>

      <div class="card-body">
        <div class="form-group">
          <label >team Name : <span>{{errors}}</span></label>
          <input class="form-control" [(ngModel)]="object.name" #UserName="ngModel" required type="text" placeholder="Name">
        </div>
        <div class="form-group">
          <label >specific : <span>{{errors}}</span></label>
          <input class="form-control" [(ngModel)]="object.specific"  #specific="ngModel" required  type="text" placeholder="specific">
        </div>

        <div class="form-group">
          <label >number : <span>{{errors}}</span></label>
          <input class="form-control" [(ngModel)]="object.number"  #number="ngModel" required type="text" placeholder="number">
        </div>
        <button (click)="update()" class="btn btn-info">Send Data</button>
      </div>
    </div>
  </div>

</div>
