
<div id="boody" class="boody ">
  <div class="container col-6">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <tr>
            <th>id</th>
            <th>name</th>
            <th>specific</th>
            <th>number</th>
            <th>action</th>



          </tr>

          <tr  *ngFor="let item of alldata">
            <th>{{item.id}}</th>
            <th>{{item.name}}</th>
            <th>{{item.specific}}</th>
            <th>{{item.number}}</th>
            <button (click)="remove(item.id)" class="btn btn-danger">Delete</button>

            <a  routerLink="/ut/{{item.id}}" class="btn btn-primary m-3 ">Edit</a>



          </tr>
        </table>
      </div>
    </div>
  </div>
  </div>
