<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Moon Light </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link scrollto active" routerLink="/home">Home</a>     </li>
      <li class="nav-item">
        <a class="nav-link scrollto" routerLink="/aboutUs">About Us</a>      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Student secction
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="ls">List</a>

          <a class="dropdown-item" routerLink="/cs">Creat</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Instreactor secction
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/il">List</a>

          <a class="dropdown-item" routerLink="/ci">Creat</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          manager secction
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/lm">List</a>

          <a class="dropdown-item" routerLink="/cm">Creat</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          team secction
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/lt">List</a>

          <a class="dropdown-item" routerLink="/ct">Creat</a>
        </div>
      </li>

      <li class="nav-item active">
<a class="nav-link scrollto" routerLink="/services">Services</a>      </li>

      <li class="nav-item active">

        <a class="nav-link scrollto" routerLink="/portfolio">Portfolio</a>      </li>

      <li class="nav-item active">
        <a class="nav-link scrollto" routerLink="/team">Team</a>      </li>
        <li><a class="nav-link scrollto" routerLink="/contact">Contact</a></li>

    </ul>

    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0 getstarted scrollto" type="submit">Get Started</button>
    </form>

  </div>
</nav>
